*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

*.DS_Store
.AppleDouble
.LSOverride

*_results_*.txt
ICS_scan_results_*.txt
CIP_results_*.txt
FINS_results_*.txt
UMAS_results_*.txt
Modbus_results_*.txt
targets_example.txt

.vscode/
.idea/
*.swp
*.swo
*~
